
:root{
    --primary-color:rgb(230, 230, 230);
    --secondary-color:FFFBEB;
    --close:rgb(121, 2, 2);
    --open:rgb(6, 95, 6)
}


*{
    margin: 0px;
    padding: 0px;
}

.app{
    display: none;
    height: 100vh;
    width: 30vw;
    position: relative;
    margin: auto;
    background-color: var(--primary-color);
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
}

.screen{
    margin: auto;
    flex: 0.8;
    height: 90vh;
    margin: 0px !important;
    width: 100%;
}

.status{
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 10px;
    top: 10px;
    border-radius: 100%;
    display: flex;
    color: var(--close);
    justify-content: center;
    border: 1px solid var(--close);
    font-size: 1.1rem;
    font-weight: 700;
    align-items: center;
}

.image{
    width: 100%;
    height: 100%;
}

.notification{
    position: absolute;
    z-index: 10;
    background-color: black;
    width: 99%;
    transition: all 0.2 ease;
    transform: scaleY(0);
    padding: 1%;
    font-size: 1.1rem;
    color: white;
}

.button-part{
    display: flex;
    flex: 0.2;
    height: 20vh;
    width: 100%;
    justify-content: space-around;
}

.open-button{
    border: 1px solid var(--open);
    color: black;
    /* background-color: var); */
}

.open-button:active{
    color: var(--primary-color);
    transition: all 0.2s ease;
    background-color: var(--open);
}

.close-button{
    border: 1px solid var(--close);
    color: white;
    background-color: var(--close);
}

.close-button:active{
    color: var(--close);
    background-color: transparent;
    transition: all 0.2s ease;
}

button{
    padding: 10px;
    width: 50%;
    font-size: 1.3rem;
    font-weight: 500;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.password-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:50%;
    width: 50%;
    align-items: center;
}

.password-container > span{
    display: block;
    font-size: 1.5rem;

}

.password-container > button{
    margin-top: 20px;
    font-size: 1.2rem;
    border-style: none;    
}

.password-container > button:active{
    color: rgb(139, 43, 43);    
    background-color: black;
}


.password{
    width: 100%;
    font-size: 1.2rem;
    border: 0px;
    position: relative;
    display: block;
    background-color: transparent;
    border-bottom: 1px solid black;
    transition: all 0.1s ease;
}

.password::after{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content:'';
    background-color: black;

}


.password:focus{
    outline: none;
    border-bottom: 2px solid black;
}

.login{
    background-color: rgb(234, 234, 234);
    width: 100%;
    display: block;
    height: 100vh;
    outline: none;
}

@media only screen and (max-width: 700px){
    .app{
        width: 100vw;
        height: 100vh;
    }
    .screen{
        width: 100%;
        height: 90vh;
    }

    .button-part{
        width: 100%;
        height: 10vh;
    }
}
